doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://pubnub.github.io/eon/lib/eon.css')
    script(type='text/javascript' src='http://pubnub.github.io/eon/lib/eon-chart.js')
    script(type='text/javascript' src='/javascripts/pubnub.js')
    
  body
    block content
